:root {
    --font-body: 'Source Sans Pro', sans-serif;
    --font-headline: 'Cinzel', serif;
    --font-emphasis: 'Alegreya Sans SC', sans-serif;
    /* colors */
    --primary-color: #2B2D42;
    --secondary-color: #D90429;
    --tertiary-color: #EF233C;
    --light-grey: #8D99AE;
    --white: #EDF2F4;
  
    /* sizes */
    --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.2em;
  }

  body {
    background-color: var(--white);
    margin: 0;
  }

  main {
    border-bottom: 2px solid var(--secondary-color);
    border-top: 2px solid var(--secondary-color);
    margin: 1rem;
    font-family: var(--font-body);
    font-size: var(--font-base);
    min-height: 73vh;
  }

  h1 {
    font-family: var(--font-headline);
    font-weight: 700;
  }

  h3 {
    font-family: var(--font-emphasis);
    color: var(--secondary-color);
  }

  h3.hightlight {
    color: var(--tertiary-color);
  }

  header, footer {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 1rem .5rem;
    font-family: var(--font-emphasis);
    font-size: var(--large-font);
  }

  p.color1 {
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 1rem .5rem;
  }

  p.color2 {
    background-color: var(--tertiary-color);
    color: var(--white);
    padding: 1rem .5rem;
  }